:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #189a46;
  --secondary: #f53626;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 500400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html {
  font-family: 'Roboto', sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body button,
.btn,
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
}

/* dark theme */
.dark_theme {
  /* darkmode */
  --bg-color: #151515;
  --font-color: #afafaf;
  --headingFont-color: #dddddd;
  --bg-light: rgba(147, 107, 232, 0.05);
}


body a,
button,
.btn {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.sub-title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: red;
}

/* Header */
header.main-header {
  background-color: #fff;
  padding: 0px;
  height: 80px;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
  text-align: center;
}

/* dark theme */
.dark-mode {
  background-color: #131313;
}

.dark-mode h3 {
  color: #ddd;
}

.dark-mode p,
.dark-mode li {
  color: #afafaf;
}

/* dark theme */
.main-header.fixed-top.dark .navbar-expand-lg .navbar-nav .nav-item .nav-link {
  color: var(--white);
}

.main-header .container {
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.fixed-top {
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.header-fixed-space-height {
  margin-top: 90px;
}

header a {
  position: relative;
}

header .navbar-expand-lg .navbar-nav .nav-item .nav-link.active {
  color: var(--primary);
}

.navbar-expand-lg .navbar-nav .nav-item.active {
  color: var(--primary);
}


header .nav-item a::before {
  content: "";
  position: absolute;
  height: 1.5px;
  width: 0%;
  background: #189a46;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}

header .navbar-expand-lg .navbar-nav .nav-link.active {
  color: var(--primary);
}

header .nav-item a:hover::before {
  width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: var(--primary);
}

.navbar-expand-lg .navbar-nav .dropdown-item:hover {
  color: var(--primary);
  transition: 0.5s;
  background-color: var(--headingFont-color);
}

.navbar-expand-lg .navbar-nav .nav-item {
  padding: 0 12px;
  transition: all 0.5s ease;
  position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link {
  text-transform: capitalize;
  transition: all 0.5s ease;
  padding: 14px 0;
  font-size: 19px;
  font-weight: 500;
  position: relative;
  color: #151515;
}

header .active a,
header a:hover {
  color: var(--headingFont-color);
}

.navbar-expand-lg .navbar-nav .nav-item {
  padding: 0 10px;
}

li a.search-search {
  background: rgba(147, 107, 232, 0.05);
  font-size: 16px;
  line-height: 25px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  padding: 0;
  text-align: center;
  color: #189a46;
  display: inline-block;
  border: none;
  transition: 0.5s;
}

li a.search-search:hover {
  background: #189a46;
  color: #fff;
}

.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 34px;
  font-weight: 500;
  text-transform: capitalize;
  color: #189a46;
}

ul.navbar-nav.search-right {
  align-items: center;
  display: inline-grid;
  grid-template-columns: auto 1fr;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.navbar-toggler {
  margin: 0;
  padding: 0;
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "";
}

button.navbar-toggler .icon-close {
  display: block;
}

button.navbar-toggler .icon-expand {
  display: none;
}

button.navbar-toggler.collapsed .icon-close {
  display: none;
}

button.navbar-toggler.collapsed .icon-expand {
  display: block;
}

header .dark__mode {
  width: 24px;

  padding: 3px 0;
  margin-left: 20px;
}

@media only screen and (max-width: 800px) {
  .dark__mode {
    position: absolute;
    right: 40px;
    top: 10px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 992px) {
  .dark__mode {
    position: absolute;
    right: 40px;
    top: 10px;
    margin-right: 10px;
  }
}

/* dark theme */
header #switch-mode {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 60px;
  margin: 30px 0;
  font-size: 18px;
}

/* dark mode */
#icon {
  width: 30px;
  cursor: pointer;
}

.dark-mode header.main-header {
  background-color: #0f0f0f;
}

.dark-mode .navbar-expand-lg .navbar-nav .nav-link {
  color: #d8d8d8;
}

/* carousel */
.container {
  max-width: 1144px;
  margin-left: auto;
  margin-right: auto;
}

.carousel-caption .carousel .carousel-indicators li {
  box-sizing: content-box;

  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

.carousel-caption {
  text-align: left;
  max-width: 700px;
  margin: 0;
  right: 5%;
  left: 17%;
}

.carousel-inner .carousel-item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.carousel-caption h5 {
  font-size: 66px;
  line-height: 76px;
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 0;
  height: 152px;
}

.carousel-caption p {
  color: #fff;
  font-size: 19.2px;
  font-weight: 200;
  text-transform: capitalize;
  line-height: 30px;
  opacity: 0.9;
  margin-bottom: 0;
}

.btn-white {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.5s;
  border-radius: 10px;
  background-color: #fff;
  color: #189a46;
}

/*  */

section .btn-white:hover {
  color: #189a46;
}

.border-btn {
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 35px;
}

section .border-btn:hover {
  background: white;
  color: #189a46;
}

.btn-style {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 500;
  transition: 0.5s ease-in;
  border-radius: 10px;
  margin: 3rem 0.5rem 0 0;
}

a.btn.btn-style.btn-white.mt-sm-5.mt-2.mr-2,
.a.btn .btn-style .border-btn .mt-sm-5 .mt-4 {
  border-radius: 10px;
}

p {
  margin: 0;
  padding: 0;
}

.bd-example .carousel .owl-dot span {
  width: 10px;
  height: 10px;
  background: #fff;
  display: block;
  border-radius: 25px;
  position: relative;
  opacity: 0.9;
}

.bd-example .carousel .owl-dot {
  display: inline-block;
  zoom: 1;
  background: transparent;
}

.bd-example .carousel .carousel-indicators {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 30px;
}

.bd-example .carousel .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 2px;
  background: #d8d8d8;
  display: block;
  transition: opacity 0.2s ease;
  border-radius: 25px;
  position: relative;
}

.bd-example .carousel .owl-dot.active span,
.bd-example .carousel .owl-dot:hover span {
  background: #189a46;
  width: 20px;
  height: 10px;
}

.carousel-indicators li {
  box-sizing: inherit;
}

.carousel-control-next,
.carousel-control-prev {
  width: 0;
}

#banner {
  padding-top: 0;
}

#banner .bd-example .carousel-indicators li::before {
  position: absolute;
  background-color: var(--primary);
  width: 30px;
  height: 10px;
  border-radius: 10px;
}

#banner .bd-example .carousel-indicators li:hover::before {
  width: 100%;
}

.carousel-item .d-block,
.carousel-item .d-block {
  height: 90%;
  background-size: cover;
}

.carousel-item .image {
  width: 100%;
  height: 80%;
}

.carousel-indicators {
  padding: 1px 6px;
}

section .carousel-indicators li:hover::before {
  width: 100%;
}

.carousel-inner .carousel-caption {
  transform: translate(-10%, -50%);
}

.carousel-inner .carousel-view {
  margin-left: auto;
}

.bd-example .carousel-indicators li {
  margin: 0px 7px 10px 7px;
}

#home .carousel-item,
#home .carousel-inner {
  height: 700px;
  background-size: cover;
}

@media screen and (max-width: 1200px) {
  .carousel-caption {
    width: 100vw;
    left: 12%;
  }

  .carousel-caption h5 {
    font-size: 52px;
    line-height: 62px;
  }
}

@media screen and (max-width: 991px) {
  .navbar-nav {
    -webkit-animation-name: none;
    animation-name: none;
    float: left;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    background: var(--bg-color);
  }

  header.main-header {
    height: auto;
    padding: 15px 0;
  }

  .navbar-toggler-icon.fa {
    line-height: 1.2em;
    color: #fff;
    line-height: 34px;
    background-color: #189a46;
    border-radius: 5px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    display: inline-block;
    padding: 6px 0;
    text-align: center;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    display: block;
  }

  header .nav-item a:hover::before {
    width: 0;
  }

  .bd-example .banner-info-bg h5 {
    font-size: 50px;
    line-height: 55px;
  }
}

@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .carousel-caption {
    width: 100vw;
    left: 12%;
    top: 50%;
  }

  .carousel-caption h5 {
    height: 55px;
  }

  .bd-example .banner-info-bg h5 {
    font-size: 45px;
  }

  .carousel-inner .carousel-view {
    margin-left: 0;
  }
}

@media only screen and (max-width: 739px) {
  .bd-example .banner-info-bg h5 {
    font-size: 32px;
    line-height: 42px;
    height: 84px;
  }

  .carousel-caption {
    top: 50%;
  }

  .carousel-inner .carousel-view {
    margin-left: 0;
  }

  #home .carousel-item,
  #home .carousel-inner {
    height: 440px;
  }

  #home .bd-example .carousel-inner {
    min-height: 440px;
    height: 440px;
  }

  .carousel-item .d-block {
    object-fit: cover;
    min-height: 440px;
  }
}

/* start about us */

.container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.sub-title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: var(--secondary);
}

.hny-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}

.hny-title.dark {
  color: #f8f9fa;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

a.read {
  font-size: 17px;
  padding: 0;
  border-bottom: 2px solid #189a46;
  color: #000c04;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  border-radius: 0;
  margin-top: 20px;
  display: inline-block;
  text-transform: capitalize;
}

.w3l-grids-3 .bottom-ab-grids.align-items-center {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}

a.read:hover {
  color: #189a46;
}

/* start feathurs */
.w3l-features {
  background-color: rgba(65, 65, 65, 0.05);
}


.w3l-features .area-box {
  padding: 40px 30px;
  transition: all 0.5s ease 0s;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
}

/* dark theme */

.w3l-features .area-box.dark {
  background-color: var(--bg-color);
}

.grids-feature {
  margin-bottom: 30px;
}

.w3l-features .area-box:hover {
  background: rgba(147, 107, 232, 0.05);
}

.w3l-features .icon span.fa {
  color: #189a46;
  font-size: 30px;
}

.fa-solid {
  color: #189a46;
  font-size: 30px;
}

.w3l-features .area-box h4 a {
  font-size: 24px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
  display: block;
  color: #000c04;
}

.w3l-features .area-box h4 a:hover {
  color: #189a46;
}

/* dark-mode */
.dark-mode .w3l-features {
  background-color: #202020;
}

.dark-mode .w3l-features .area-box {
  background-color: #0f0f0f;
}

.dark-mode .w3l-features .area-box:hover {
  background-color: #202020;
}

.dark-mode .w3l-features .area-box h4 a,
.dark-mode a.read {
  color: #d8d8d8;
}

/* toggle */

.main-header.fixed-top.dark .btn.toggle span.sun {
  display: none;
}

.main-header.fixed-top.dark .btn.toggle span.dark {
  display: block;
}

.main-header.fixed-top .btn.toggle span.sun {
  display: block;
}

.main-header.fixed-top .btn.toggle span.dark {
  display: none;
}

/* content  */

.content .cwp4-text {
  align-self: center;
}

.content .cwp4-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24.5px;
  margin: 15px 0 35px 0;
}

.content ul.cont-4 li {
  display: block;
}

.content ul.cont-4 li span.fa {
  color: green;
  margin-right: 12px;
  background: rgb(241, 238, 238);
  font-size: 10px;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
}

.content .cwp4-text ul li {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin: 15px 0;
  font-weight: 600;
}

/* dark-mode */
.dark-mode .content ul.cont-4 li span.fa {
  background-color: #222222;
}

/* number  */

.number {
  background: green;
}

.number_info p {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 0;
}

.number_info h4 {
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  color: #fff;
  margin-top: 10px;
  opacity: 0.8;
  font-weight: 400;
}

.number_info span.fa {
  font-size: 2.5em;
  color: green;
  margin: 0;
}

.number_bottom_grid_left img {
  margin: 0 auto;
}

.number_info {
  text-align: center;
  padding: 0;
  border-top: none;
  border-bottom: none;
}

.number_info:nth-child(3) {
  border-right: 0px;
}

.number_info:nth-child(2) {
  border-left: 0px;
  border-right: 0px;
}

/* plans  */

.plans-main {
  background: rgba(147, 107, 232, 0.05);
}

.plans-main h3.heading {
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  font-weight: 400;
}

.plans-main .plans-sec-7 {
  margin: 0 5% auto;
  margin-top: 0;
  width: 90%;
}

.plans-main ul.links {
  min-height: 120px;
}

.plans-7-bottom {
  text-align: center;
  padding-top: 1em;
}

.plans-7-top {
  text-align: center;
}

.plans-main h5 {
  font-size: 15px;
  line-height: 20px;
  color: #189a46;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700;
  display: inline-block;
  padding: 8px 20px;
  background: #fff;
  border-radius: 10px;
}

.plans-main .plans-gd-left.active h6,
.plans-main .plans-gd-left.active h4 {
  color: #fff;
}

.plans-main .plans-gd-left.active h4 span {
  color: #eee;
}

.plans-main h6 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
}

.plans-gd-left.pric-7.active .btn-style {
  color: #fff;
  background: #189a46;
}

.plans-main p.para {
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}

.plans-gd-left.pric-7.active p.para {
  color: #eee;
}

.plans-main h4 label {
  font-size: 25px;
  vertical-align: text-top;
}

.plans-main h4 {
  font-size: 40px;
  line-height: 45px;
  margin: 15px 0 20px;
  text-align: center;
  font-weight: 600;
  color: #189a46;
}

.plans-main h4 span {
  font-size: 16px;
  line-height: 25px;
  color: #999;
  font-weight: 400;
}

.plans-main ul.links li {
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  align-self: center;
  padding-top: 6px;
}

.plans-main ul.links li {
  list-style: none;
  margin-bottom: 5px;
}


.plans-main .plans-gd-left {
  border-radius: 6px;
  align-self: center;

}

.plans-gd-left.pric-7.active .plans-7-top {
  padding: 3em 2.5em .5em;
  background: #189a46;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.plans-gd-left.pric-7.active .plans-7-bottom {
  padding: 2em 2.5em 3.5em;
}

.plans-main .pric-7-1 .plans-7 {
  background: white;
  padding: 3.5em 2.5em;
  border-right: 0;
}

.plans-main .pric-7-2 .plans-7 {
  background: white;
  padding: 3.5em 2.5em;
  border-left: 0;
}

.plans-main .plans-gd-left.active {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03);
  -ms-transform: scale(1.03);
  z-index: 1;
  margin: 0;
  box-shadow: 0 10px 30px 0 rgba(17, 17, 17, 0.09);
  border-radius: 6px;
}

.plans-main .buy-button {
  margin-top: 2em;
}

.plans-main a {
  color: #fff;
  background: #189a46;
}

.plans-main a:hover {
  background: rgb(3, 79, 30);
  color: white;
}

/* dark-mode plans */
.dark-mode .plans-main {
  background-color: #202020;
}

.dark-mode .plans-main .pric-7-1 .plans-7,
.dark-mode .plans-gd-left.pric-7.active .plans-7-bottom,
.dark-mode .plans-main .pric-7-2 .plans-7 {
  background-color: #151515;
}

.dark-mode .plans-main h6 {
  color: #d8d8d8;
}

/* Testimonials */
.feedback {
  background: #f0f2f4;
  height: 600px;
  min-height: 600px;
}

.feedback h2 {
  color: rgb(254, 65, 65);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 35px;
}

.feedback h3 {
  font-size: 34px;
  font-weight: 700;
  line-height: 35px;
}

.feedback__content .item {
  display: block;
  position: relative;
  background: #fff;
  border-radius: 13px;
  width: 100%;
  box-shadow: 0 25px 98px 0 rgba(19, 19, 19, 0.03);
}


.feedback__top i {
  color: green;
  font-size: 28px;
}

.feedback__top p {
  font-size: 18px;
  line-height: 28px;
  color: #666666cd;
}

.item .feedback__bottom .img-inside {
  width: 70px;
  height: 70px;
}

.feedback__child p:first-child {
  font-weight: 600;
  font-size: 19px;
}

.feedback__child p:last-child {
  color: #666666cd;
}

.feedback__content .owl-theme .owl-dots .owl-dot {
  margin-top: 30px;
  outline: none;
}

.feedback__content .owl-theme .owl-dots .owl-dot.active span,
.feedback__content .owl-theme .owl-dots .owl-dot:hover span {
  background-color: green;
  width: 30px;
  height: 10px;
  border: chocolate;
}

.feedback__content .owl-two.owl-carousel.owl-theme .owl-dots .owl-dot span {
  border: none;
}

/* dark-mode feed-back */
.dark-mode .feedback {
  background-color: #222222;
}

.dark-mode .feedback__content .item {
  background-color: #151515;
}

/* Finest Video
 */
.finest__content {
  max-width: 950px;
  margin: auto;
}

.finest__top h2 {
  color: rgb(248, 76, 76);
  font-size: 18px;
  line-height: 28px;
}

.finest__top h3 {
  font-size: 34px;
  font-weight: 700;
  line-height: 35px;
}

.finest__top p {
  font-size: 18px;
  line-height: 28px;
  color: #666666cd;
  margin-top: 20px;
}

.finest__position {
  position: relative;

}

.finest__position img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;

}

.finest__position .icon__inside .position__icon {
  display: inline-block;
  color: rgb(113, 243, 53);
  position: absolute;
  left: 0;
  right: 0;
  top: calc(40%)
}

.finest__position .video__icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: white;
  border-radius: 50%;
  -webkit-animation: icon__inside 1s linear infinite;
  animation: icon__inside 1s linear infinite;
}

/* video */
.modal {
  position: fixed;
  top: 20%;
  left: -5%;
}

.modal-backdrop.show {
  opacity: 0.9;
}

.modal-open {
  overflow: hidden;
}

/* Sub */

.subcribe {
  max-width: 700px;
  margin: auto;
}

.subcribe__parent {
  margin: auto;
  max-width: 650px;
}

.sub__top h3 {
  font-size: 34px;
  font-weight: 700;
  line-height: 35px;
}

.sub__top p {
  font-size: 18px;
  line-height: 28px;
  color: #666666cd;
}

.sub__bottom {
  display: flex;
  justify-content: center;

}

.sub__bottom input {
  height: 60px;
  padding: 0px 20px;
  flex-grow: 1;
  background: #fff;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  margin-right: 15px;
}

.sub__bottom .form-control:focus {
  outline: 0;
  box-shadow: 0 0 0 0;
  border-color: green;
}

.sub__bottom button {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  border-radius: 10px;

}

/* FOOTER */
footer {
  background-color: rgb(16, 16, 16);
}

.footer__top {
  padding-top: 70px;
}

.footer__top h5 {
  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 25px;
}

.footer__top ul li a,
.footer__top ul li p {
  color: rgba(124, 123, 123, 0.896);
  transition: 0.5s;
}

.footer__top ul li a:hover {
  color: white;
}

.footer__social ul li {
  display: inline;
  margin-right: 15px;
}

.footer__top ul li {
  margin-bottom: 5px;
}

.footer__bottom {
  border-top: 1px solid rgba(103, 99, 99, 0.14);
  color: rgba(124, 123, 123, 0.896);
}

.footer__bottom span,
.footer__bottom a {
  color: rgba(255, 0, 0, 0.778);
}

/* Nav right SideBar */
.nav__right {
  position: fixed;
  top: 20%;
  right: 0;
  color: rgba(255, 255, 255, 0.514);
  text-align: center;
  font-weight: 600;
  z-index: 999;
}

.nav__right .toggler {
  display: inline-block;
  width: 50px;
  height: 50px;
  color: white;
  background-color: #0D1326;
  border-radius: 50%;
  border: 0;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  right: 20px;

  outline: none;
}

.nav__right li {
  padding: 10px 0px;
}

.nav__right .menu {
  width: 90px;
  height: 350px;
  transition: 0.5s;
  background-color: #0D1326;
  padding-top: 70px;
  border-radius: 10px 0 0 10px;
}

.nav__right .menu li a {
  color: rgba(255, 255, 255, 0.502);
}

.hide .menu {
  transform: translateX(100%);
}

.hide .toggler {
  transform: rotate(180deg);
}

.icon__right {
  color: rgba(255, 255, 255, 0.502);
  font-size: 20px;

}

/* BackTotop */
.backToTop {
  position: fixed;
  right: 15px;
  bottom: 50px;
  visibility: hidden;
}

.backToTop i {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

/* ANIMATE */
/* PET VIDEO */
@-webkit-keyframes icon__inside {
  0% {
    box-shadow: 0 0 0 0 rgba(15, 162, 67, 0.3), 0 0 0 10px rgba(15, 162, 67, 0.3), 0 0 0 20px rgba(15, 162, 67, 0.3);
  }

  100% {
    box-shadow: 0 0 0 10px rgba(15, 162, 67, 0.3), 0 0 0 20px rgba(15, 162, 67, 0.3), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}

@keyframes icon__inside {
  0% {
    box-shadow: 0 0 0 0 rgba(15, 162, 66, 0.2), 0 0 0 10px rgba(15, 162, 67, 0.3), 0 0 0 20px rgba(15, 162, 67, 0.3);
  }

  100% {
    box-shadow: 0 0 0 10px rgba(15, 162, 67, 0.3), 0 0 0 20px rgba(15, 162, 67, 0.3), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}


/* RESPONSIVE */
/* feedback  */
@media screen and (max-width: 668px) {
  .owl-theme .owl-nav.disabled+.owl-dots {
    display: none;
  }
}


/* SUB */
@media screen and (max-width:767px) {
  .sub__bottom {
    display: block;
  }
}

@media screen and (max-width:667px) {
  .sub__bottom {
    display: block;
  }
}

@media screen and (max-width:667px) {
  .sub__bottom button {
    display: block;
    width: 100%;
    margin-top: 15px;
  }
}

/* NAV RIGHT */
/* @media screen and (max-width: 700px) {
  .nav__right {
    position: fixed;
  }
} */